<nav class="navbar navbar-expand-lg navbar-custom">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-shield-check me-2"></i>
      VeriDocs AI
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">
            <i class="fas fa-home me-1"></i>Home
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/upload">
            <i class="fas fa-cloud-upload me-1"></i>Uploads
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/dashboard">
            <i class="fas fa-chart-line me-1"></i>Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/profile">
            <i class="fas fa-user me-1"></i>Profile
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
