<!DOCTYPE html>
<html>
<head>
  <title>VeriDocs Upload</title>
</head>
<body>
  <h1>Upload File for Verification</h1>
  <form action="/upload" method="POST" enctype="multipart/form-data">
    <label>Choose File Type:</label>
    <select name="fileType">
      <option value="document">Document</option>
      <option value="image">Image</option>
      <option value="video">Video</option>
      <option value="text">Text</option>
    </select>
    <br><br>
    <input type="file" name="file" required />
    <br><br>
    <button type="submit">Upload</button>
  </form>
</body>
</html>
